<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <h2>Welcome!</h2>
        <p>What do you wanna know?</p>

        {{> footer}}
    </body>
</html>