<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Homepage</title>
    </head>
    <body>
        {{> header}}
        <h2>{{welcomeMessage}} I am {{authorName}} and this is my website.</h2>
        <p>What is up?</p>

        {{> footer}}
    </body>
</html>