<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Projects Page</title>
    </head>
    <body>
        {{> header}}
        <h2>Welcome!</h2>
        <p>I cannot see my art!!!</p>

        {{> footer}}
    </body>
</html>